.career {
	overflow-x: hidden;
	padding-top: 80px;
	padding-bottom: 40px;
	margin: 0 auto;

	@include lg {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	&__content {
		margin-bottom: 40px;

		@include md {
			display: grid;
			grid-template-columns: 1fr min-content;
			justify-content: space-between;
			grid-template-areas:
				'title link'
				'description .';
			gap: 11px 21px;
		}

		@include lg {
			gap: 27px 31px;
			margin-bottom: 50px;
		}

		@include xl {
			grid-template-columns: 690px min-content;
		}
	}

	&__title {
		font-size: 32px;
		font-weight: 1000;
		text-transform: uppercase;
		color: $second;
		line-height: 1;
		margin-bottom: 24px;

		@include md {
			grid-area: title;
			margin-bottom: 0;
		}

		@include lg {
			font-size: 52px;
		}
	}

	&__descripion {
		max-width: 720px;
		margin-bottom: 24px;

		@include md {
			grid-area: description;
			margin-bottom: 0;
		}

	}

	&__link {
		grid-area: link;
	}

	&__slider {
		@include md {
			overflow: unset;
		}
	}

	&__image-item {
		height: unset;
		display: flex;
		align-items: center;

		@include sm {
			&_odd {
				width: 56%;
			}

			&_even {
				width: 40%;
			}
		}

		@include md {
			&_odd {
				width: 34.66%;
			}

			&_even {
				width: 25.14%;
			}
		}

		@include xl {
			&_odd {
				width: 27.11%;
			}

			&_even {
				width: 19.67%;
			}
		}
	}

	&__image {
		border-radius: 16px;
		width: 100%
	}

}