.footer {
	padding-top: 20px;
	padding-bottom: 30px;

	&__container {
		width: 100%;
		padding-top: 16px;

		@include sm {
			display: grid;
			grid-template-columns: 1fr max-content;
			gap: 40px;
		}

		@include lg {
			row-gap: 72px;
		}
	}

	&__logo {
		width: 200px;
		margin-bottom: 32px;

		@include sm {
			margin-bottom: 0px;
		}

		@include lg {
			width: 360px;
		}
	}

	&__social-list {
		display: flex;
		gap: 16px;
		margin-bottom: 52px;

		@include sm {
			margin-bottom: 0px;
		}

		@include lg {
			gap: 36px;
		}
	}


	&__social-img {
		display: block;
		width: 36px;
		color: $main;
		outline: 2px solid transparent;
		outline-offset: 2px;
		border-radius: 3px;
		transition: color .3s ease-in-out;

		&:focus:not(:hover) {
			outline: 2px solid $second;
		}

		&:hover {
			color: $second;
		}

		@include lg {
			width: 50px;
		}
	}

	&__developers {
		margin-bottom: 52px;

		@include sm {
			margin-bottom: 0px;
			order: 2;
		}

		@include lg {
			font-size: 20px;
		}
	}

	&__developer {
		&:not(:last-child) {
			margin-bottom: 19px;
		}
	}

	&__developer-link {
		outline: 2px solid transparent;
		outline-offset: 2px;
		border-radius: 3px;
		transition: color .3s ease-in-out;

		&:focus:not(:hover) {
			outline: 2px solid $second;
		}

		&:hover {
			color: $second;
		}
	}

	&__copyright {
		margin: 0;

	}

	@include lg {
		padding-bottom: 50px;
	}
}