.page {
	padding-top: 120px;
	padding-bottom: 40px;
	padding-left: 10px;

	@include lg {
		padding-top: 0;
		padding-bottom: 100px;
	}

	&__container {
		padding-left: 16px;
		padding-right: 16px;

		@include sm {
			padding-left: 24px;
			padding-right: 24px;
		}

		@include md {
			padding-left: 32px;
			padding-right: 32px;
		}

		@include lg {
			max-width: 1144px;
			padding-left: 192px;
		}


		@include xl {
			padding-left: 80px;
			max-width: 920px;
			margin: 0 auto;
		}

		@include xxl {
			max-width: 1200px;
			padding-left: 192px;
			margin: 0 auto;
		}
	}

	&__title {
		margin-bottom: 24px;

		@include lg {
			margin-bottom: 40px;
		}
	}

	&__text-block {
		font-size: 16px;
		margin-bottom: 40px;

		&::last-child {
			margin-bottom: 0;
		}

		@include lg {
			font-size: 20px;
			margin-bottom: 60px;
		}

	}


	&__text {
		margin-bottom: 16px;

		&::last-child {
			margin-bottom: 0;
		}

		@include lg {
			margin-bottom: 20px;
		}
	}


	&__img-block {
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 30px;
		}

		@include sm {
			&_double {
				--gap: 18px;

				display: flex;
				gap: var(--gap);

				.page__img-wrapper {
					width: calc(50% - (var(--gap) / 2));
				}


				@include lg {
					--gap: 20px;
				}

				@include xl {
					--gap: 30px;
				}
			}
		}


	}

	&__img-wrapper {
		&:nth-child(2) {
			display: none;

			@include sm {
				display: block;
			}
		}


	}

	&__img {
		object-fit: cover;
		border-radius: 16px;

		&_changed {
			height: 308px;

			@include sm {
				height: auto;
				flex-grow: 1;
			}
		}
	}



	&__link {
		width: max-content;
	}
}