.page-nav {
	display: none;
	position: relative;
	max-width: 150px;

	@include lg {
		display: block;
		position: absolute;
		top: 216px;
		left: 30px;

	}

	@include xl {
		left: 60px;
	}


	@include xxxl {
		left: calc((100% - 2560px)/ 2 + 60px);
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		@include lg {
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__link {
		@include lg {
			color: $second;
			font-weight: 1000;
		}

		&_active {
			@include lg {
				color: $main;
				pointer-events: none;
			}
		}
	}
}