$back: #FFAA05;
$main: #000000;
$second: #ffffff;

@mixin sm {
	@media (min-width: 576px) {
		@content;
	}
}

@mixin md {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin lg {
	@media (min-width: 1024px) {
		@content;
	}
}

@mixin xl {
	@media (min-width: 1240px) {
		@content;
	}
}

@mixin xxl {
	@media (min-width: 1600px) {
		@content;
	}
}

@mixin xxxl {
	@media (min-width: 2560px) {
		@content;
	}
}

@mixin flexible {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flexible_center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin background {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}



/* 
@include md {}

@include lg {}

@include xl {}

@include xxl {} */